<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909721991931-encma91e5dacd46alahdcphq4hudvbvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909721991931-encma91e5dacd46alahdcphq4hudvbvc</string>
	<key>API_KEY</key>
	<string>AIzaSyCxhfelWHY2ufquYSKBjLT-F6k1VpOoPI4</string>
	<key>GCM_SENDER_ID</key>
	<string>909721991931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pessoal.HelpMiga</string>
	<key>PROJECT_ID</key>
	<string>chegaaquiapp-adc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>chegaaquiapp-adc5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909721991931:ios:85d9fc69326ffb04c88e5e</string>
</dict>
</plist>